/**
 * Grid system
 * ================================================== */


@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {

	// Common properties for all breakpoints
	%grid-column {
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-left: ($gutter / 2);
		padding-right: ($gutter / 2);
	}

	@each $breakpoint in map-keys($breakpoints) {

		@for $i from 1 through $columns {
			.col-#{$breakpoint}-#{$i} {
				@extend %grid-column;
			}
		}

		@if $breakpoint == 'xs' {
			%grid-column-float-#{$breakpoint} {
				float: left;
			}

			@for $i from 1 through $columns {
				.col-#{$breakpoint}-#{$i} {
					@extend %grid-column-float-#{$breakpoint};
					@include make-col-span($i, $columns);
				}
			}

			@each $modifier in (pull, push, offset) {
				@for $i from 0 through $columns {
					.col-#{$breakpoint}-#{$modifier}-#{$i} {
						@include make-col-modifier($modifier, $i, $columns)
					}
				}
			}

		} @else {

			@include mq($breakpoint) {

				@for $i from 1 through $columns {
					.col-#{$breakpoint}-#{$i} {
						@include make-col-span($i, $columns);
					}
				}

				@each $modifier in (pull, push, offset) {
					@for $i from 0 through $columns {
						.col-#{$breakpoint}-#{$modifier}-#{$i} {
							@include make-col-modifier($modifier, $i, $columns)
						}
					}
				}
			}

		}
	}
}

// Container 
@mixin make-container($gutter: $grid-gutter-width, $clearfix: true) {
	margin-left: auto;
	margin-right: auto;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	
	@if ($clearfix == true) {
		@include clearfix();
	}
}


// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-widths($widths: $container-widths) {
	@each $breakpoint, $container-width in $widths {
		@include mq($breakpoint) {
			width: $container-width;
		}
	}
}


// Row
@mixin make-row($gutter: $grid-gutter-width, $clearfix: true) {
	margin-left:  ($gutter / -2);
	margin-right: ($gutter / -2);
	
	@if ($clearfix == true) {
		@include clearfix();
	}
}


// Columns
@mixin make-col($gutter: $grid-gutter-width) {
	position: relative;
	float: left;
	min-height: 1px;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
}

// Set column widths
@mixin make-col-span($size, $columns: $grid-columns) {
	width: percentage($size / $columns);
}


// Offset
@mixin make-col-offset($size, $columns: $grid-columns) {
	margin-left: percentage($size / $columns);
}


// Push
@mixin make-col-push($size, $columns: $grid-columns) {
	left: if($size > 0, percentage($size / $columns), auto);
}


// Pull
@mixin make-col-pull($size, $columns: $grid-columns) {
	right: if($size > 0, percentage($size / $columns), auto);
}


// Offset/push/pull modifiers
@mixin make-col-modifier($type, $size, $columns) {
	// Work around the lack of dynamic mixin @include support (https://github.com/sass/sass/issues/626)
	@if $type == push {
		@include make-col-push($size, $columns);
	} @else if $type == pull {
		@include make-col-pull($size, $columns);
	} @else if $type == offset {
		@include make-col-offset($size, $columns);
	}
}

@mixin clearfix() {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}