@import '../../lib/core/sass/colours';

.log__entry__wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 0.2rem;

  > .log__entry {
    width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;

    &--success {
      @extend .log__entry;
      color: $success;
      font-weight: 500;
    }

    &--error {
      @extend .log__entry;
      color: $error;
      font-weight: 500;
    }
  }

  &:before {
    content: ' ';
    border-left: 1px solid $dark-grey;
    border-top: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;
    padding: 0 0.2rem 0 0.2rem;
  }
  &:after {
    content: ' ';
    border-right: 1px solid $dark-grey;
    border-top: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;
    padding: 0 0.2rem 0 0.2rem;
  }
}
