@import './lib/core/sass/colours';

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  display: flex;
  flex: 0 0 auto;
  height: 2rem;

  > span {
    padding-left: 0.2rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}

.instrument__headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0;
}

.log__header,
.testsuite__header {
  border-bottom: 2px solid $brand-primary;
  font-weight: 500;
  > span {
    margin: 0 0.5rem 0 0.5rem;
  }
  > i {
    padding: 0.4rem;
    border-radius: 0.2rem 0.2rem 0 0;
    background-color: $brand-primary;
    color: $white;
  }
}

.instruments {
  display: grid;
  grid-template-columns: 70% 30%;
}

.test__suite {
  display: flex;
  flex-direction: column;
}

.log__entries {
  padding: 0.2rem;
  font-size: 1rem;
}
