.c-accordion {
  margin-top: 2rem;
  background: white;

  &__item {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: .2rem solid $gray400;
    border-radius: 1rem;
    overflow: hidden;
    transition: all .2s linear;

    &:focus-within {
      border-color: $gray500;
    }

    &:hover:not(.c-accordion__item--expanded) {
      border-color: $gray700;
    }

    &:first-child {
      margin-top: 0;
    }

    &--expanded {
      overflow: visible;
    }

    button {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

    }
  }

  &__header {
    width: 100%;
    padding: 2rem;
    background-color: transparent;
    border: none;
    color: $black;
    border-radius: 1rem 1rem 0 0;
    transition: background-color .2s ease;

    &:focus {
      outline: none;
    }

    &Icon {
      box-sizing: content-box;
      display: block;
      width: 3.6rem;
      height: 3.6rem;
      background-color: transparent;
      border-radius: 50%;
      border: .3rem solid $grey;
      line-height: 3.6rem;
      text-align: center;
      font-size: 1.4rem;
      transition: all .3s ease;
      background-color: $gray400;
      color: $gray700;
      border: none;

      .c-accordion__item--expanded & {
        transform: rotate(90deg);
        background-color: lighten($link, 33%);
        box-shadow: inset 0 0 0 .2rem lighten($link, 25%);
        color: $link;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.6rem;
    color: inherit;
    transition: color .3s linear;

    &Icon {
      color: $gray700;
      margin-right: 1rem;
    }
  }

  &__body {
    border-top: .1rem solid $light-grey;
    padding: 2rem;

    .c-accordion__item--collapsed & {
      display: none;
    }
  }
}