.alert {
  padding: 1.4rem 1.7rem;
  font-weight: 500;

  .panel > & {
    margin-bottom: 0;
  }

  &-success {
    background-color: lighten($success, 20%);
    border: .2rem solid lighten($success, 5%);
    color: $success;

    a {
      color: $success;
      font-weight: 900;
    }
  }

  &-info {
    background-color: lighten($link, 33%);
    border: .2rem solid lighten($link, 25%);
    color: $link;

    a {
      color: $link;
      font-weight: 900;
    }
  }

  &-warning {
    background-color: lighten($warning, 35%);
    border: .2rem solid lighten($warning, 19%);
    color: $warning;

    a {
      color: $warning;
      font-weight: 900;
    }
  }

  &-danger {
    background-color: lighten($error, 30%);
    border: .2rem solid lighten($error, 15%);
    color: $error;

    a {
      color: $error;
      font-weight: 900;
    }
  }
}