.crumbs {  
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  margin-bottom: .1rem;
  color: $dark-grey;
  font-size: 1.2rem;

  @include mq($until: sm) {
    display: none;
  }

  .crumb {
    > a {
      color: $dark-grey;
      &:hover {
        color: $dark-blue;
      }
    }

    &:last-child > a {
      color: $black;
    }

    &:before,
    &:after {
      @extend %fa-icon;
      @extend .fas;
    }

    &--home {
      &:before {
        content: fa-content($fa-var-home);
        color: $dark-blue;
        margin-right: 1rem;
      }
    }

    &--go-back {
      &:before {
        content: fa-content($fa-var-arrow-left);
        color: $dark-blue;
        margin-right: 1rem;
      }
    }

    &:not(:last-child):after {
      @extend %fa-icon;
      @extend .far;
      content: fa-content($fa-var-angle-right);
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}