.button {
	border: 1px solid $grey;
	border-radius: 4rem;
	color: $black;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 1.4rem;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.8;
	padding: .5rem 2rem .7rem;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
	background-color: $grey;
	outline: 0;

	&:hover {
		color: $black;
		box-shadow: 0 0 0 .2rem darken($grey, 5%);
	}

	&:focus:not(.node__icon) {
		background: 0 0!important;
		box-shadow: 0 0 0 .2rem $link;
		color: $link;
	}

	&:active {
		color: $link;
		background-color: lighten($link, 29%);
	}

	&:disabled {
		opacity: 0.66;
		cursor: not-allowed;
	}

	&:not(.listen-user) > i {
		margin-right: 1.2rem;
	}

	&:not(.btn-block) + &:not(.btn-block) {
		margin-left: 1rem;
	}

	& > span + i {
		margin-right: 0!important;
		margin-left: 1.2rem;
	}

	&--reset {
		padding: 0;
		border: none;
		background-color: transparent;
	}

	// Block
	&-block {
		width: 100%;
		margin-left: 0!important;
		text-align: center;

	 + &,
	 + .button-block {
			margin-top: 1rem;
		}
	}

	// Colors
	&-blue,
	&--blue,
	&-primary {
		color: $white;
		background-color: $link;
		border-color: $link;

		 &:hover {
			color: $white;
			box-shadow: 0 0 0 .2rem darken($link, 5%);
		}

		&:focus {
			color: $link;
		}
	}

	&--light-blue {
		color: $brand-primary;
		background-color: rgba($brand-primary, .06);
		border-color: rgba($brand-primary, 0);

		 &:hover {
			color: $link;
			box-shadow: 0 0 0 .2rem $link;
		}

		&:focus {
			color: $link;
		}
	}

	&--green,
	&-green,
	&-success {
		$dark-green: darken($success, 5%);

		background-color: $success;
		color: $white;
		border-color: $dark-green!important;

		&:hover {
			color: $white;
			box-shadow: 0 0 0 .2rem $dark-green!important;
			background-color: $success!important;
		}

		&:focus {
			background-color: 0 0;
			box-shadow: 0 0 0 .2rem $success!important;
			color: $success!important;
		}

		&:active {
			background-color: lighten($success, 20%)!important;
			color: $success!important;
		}
	}

	&--red {
		$dark-red: darken($error, 5%);

		background-color: $error;
		color: $white;
		border-color: $dark-red!important;

		&:hover {
			color: $white;
			box-shadow: 0 0 0 .2rem $dark-red!important;
			background-color: $error!important;
		}

		&:focus {
			background-color: 0 0;
			box-shadow: 0 0 0 .2rem $error!important;
			color: $error!important;
		}

		&:active {
			background-color: lighten($error, 20%)!important;
			color: $error!important;
		}
	}

	&--cta {
		$dark-secondary: darken($cta, 5%);

		background-color: $cta;
		color: $white;
		border-color: $dark-secondary!important;

		&:hover {
			color: $white;
			box-shadow: 0 0 0 .2rem $dark-secondary!important;
			background-color: $cta!important;
		}

		&:focus {
			background-color: 0 0;
			box-shadow: 0 0 0 .2rem $cta!important;
			color: $cta!important;
		}

		&:active {
			background-color: lighten($cta, 20%)!important;
			color: $cta!important;
		}
	}

	&--transparent {
		background-color: rgba($link, 0);
		color: inherit;
	}

	&--super-transparent {
		background-color: rgba($link, 0);
		box-shadow: none;
		border: none;
		color: inherit;
	}

	&--blue-dark {
		color: $white;
		background-color: $dark-blue;
		border-color: $dark-blue;

		 &:hover {
			color: $white;
			box-shadow: 0 0 0 .2rem darken($dark-blue, 5%);
		}

		&:focus {
			color: $dark-blue;
		}
	}
	&--blue-lighter {
		background-color: $blue-lighter;
		border-color: $blue-lighter;
	}

	// Sizes
	&--xs {
		font-size: 1.2rem;
		font-weight: 500;
		padding: 0.3rem 1.2rem 0.3rem;
	}

	&--sm {
		font-size: 1.2rem;
	}

	&--no-style {
		-webkit-appearance: none;
		border: none;
		background-color: transparent;
		font: inherit;
		padding: 0;

		&:hover {
			color: $link;
		}
	}

	&--collapse {
		&:before {
			content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='9' r='2' fill='%23181C2F'/%3E%3Ccircle cx='9' cy='9' r='2' fill='%23181C2F'/%3E%3Ccircle cx='15' cy='9' r='2' fill='%23181C2F'/%3E%3C/svg%3E%0A");
		}
	}

	&--no-caret {
		.c-dropdown__caret {
			display: none;
		}
	}

	&--uncollapse {
		font-size: 1.2rem;
		font-weight: 600;
		outline: 0;
		border: 0;
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		color: $gray800;

		&:before {
			$strokeColor: encodeColor($gray800);
			content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='9' r='2' fill='#{$strokeColor}'/%3E%3Ccircle cx='9' cy='9' r='2' fill='#{$strokeColor}'/%3E%3Ccircle cx='15' cy='9' r='2' fill='#{$strokeColor}'/%3E%3C/svg%3E%0A");
			position: relative;
			top: .2rem;
			display: inline-block;
			vertical-align: middle;
			margin-right: .8rem;
		}
	}

	&--inline {
		color: $link;
		font-weight: 600;
		outline: 0;
		border: 0;
		-webkit-appearance: none;
		appearance: none;
		background: transparent;

		&:hover {
			color: $black;
			box-shadow: none;
		}

		&:focus {
			background: 0 0!important;
			box-shadow: none;
			color: $link;
		}

		&:active {
			color: $link;
			background-color: transparent;
		}

		&:after {
			@extend %fa-icon;
			@extend .far;
			content: fa-content($fa-var-arrow-right);
			display: inline-block;
			margin-left: .5rem;
			transition: transform .3s $bezier;
		}

		&:hover:after {
			transform: translateX(.2rem);
		}
	}

	&--link {
		color: $link;
		font-weight: 600;
		outline: 0;
		border: 0;
		-webkit-appearance: none;
		appearance: none;
		background: transparent;

		&:hover {
			color: $black;
			box-shadow: none;
		}

		&:focus {
			background: 0 0!important;
			box-shadow: none;
			color: $link;
		}

		&:active {
			color: $link;
			background-color: transparent;
		}
	}

	&--inline-delete {
		color: $error;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1.4rem;
		outline: 0;
		border: 0;
		-webkit-appearance: none;
		appearance: none;
		background: transparent;

		&:hover {
			color: $error;
			box-shadow: none;
		}

		&:focus {
			background: 0 0!important;
			box-shadow: none;
			color: $error;
		}

		&:active {
			color: $error;
			background-color: transparent;
		}

		&:after {
			@extend %fa-icon;
			@extend .far;
			content: fa-content($fa-var-trash);
			display: inline-block;
			margin-left: .5rem;
			transition: transform .3s $bezier;
		}

		&:hover:after {
			transform: translateX(.2rem);
		}
	}

	&--inline-sm {
		color: $link;
		font-size: 1.2rem;
		outline: 0;
		border: 0;
		padding: 0;
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
	}

	&.wcag {
		background-color: $black;
		color: $white;

		&:hover {
			box-shadow: 0 0 0 .2rem $gray600;
		}

		&:focus {
			background-color: 0 0;
			box-shadow: 0 0 0 .2rem $black;
			color: $black!important;
		}

		&:active {
			background-color: rgba($black, .2);
			color: $black!important;
		}
	}

	&.has-icon {
		display: flex;
		align-items: center;
	}
}

body:not(.body--activedialer):not(.body--editlead):not(.body--createlead) .btn:not(.input-group-addon) {
	@extend .button;

	&-green {
		@extend .button--green;
	}
}

.button-block + .button-block {
	margin-top: 1rem;
}

.number-picker {
	display: flex;
	align-items: center;

	.spinners {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.form-control {
		padding: 1rem;
	}

	&.has-spinner {
		.form-control {
			border-top-left-radius: 0!important;
			border-bottom-left-radius: 0!important;
		}
	}

	.line-unit {
		margin-left: .5rem;
	}

	.button {
		font-size: .7rem!important;
		padding: .2rem .9rem;
		margin: 0!important;
		border: none!important;
		box-shadow: none!important;

		&:first-child {
			border-top-right-radius: 0!important;
			border-bottom-right-radius: 0!important;
			border-bottom-left-radius: 0!important;
		}

		&:last-child {
			border-top-right-radius: 0!important;
			border-top-left-radius: 0!important;
			border-bottom-right-radius: 0!important;
		}

		> i {
			margin: 0 !important;
		}
	}
}
