.emblem {
	position: relative;
	top: -.1rem;
	vertical-align: middle;
	display: inline-block;
	border-radius: 2rem;
	background-color: $gray600;
	font-weight: 500;
	text-align: center;
	padding: 0 .45em;
	white-space: nowrap;
	animation: fade-in .5s $bezier forwards;
	cursor: default;
	outline: 0;

	&:before {
		content: attr(data-number);
	}

	&--sm {
		font-size: .9rem;
		line-height: 1.5rem;
	}

	&--md {
		font-size: 1.1rem;
		line-height: 1.8rem;
		padding-left: .6rem;
		padding-right: .6rem;
	}

	&--lg {
		top: -.2rem;
		font-size: 1.3rem;
		line-height: 1.9rem;
		padding-top: .3rem;
		padding-left: .7rem;
		padding-right: .7rem;
	}

	&--dot {
		width: .6rem;
		height: .6rem;
		padding: 0;
		background-color: $cta;
	}

	&--right {
		float: right;
	}

	&--gray400 {
		background-color: $gray400;
	}

	&--gray500 {
		background-color: $gray500;
		color: $gray700;
	}

	&--gray600 {
		background-color: $gray600;
		color: $gray800;
	}

	&--gray700 {
		background-color: $gray700;
		color: $black;
	}

	&--gray800 {
		background-color: $gray800;
		color: $black;
	}

	&--green {
		background-color: $success;
		color: $white;
	}

	&--yellow {
		background-color: $warning;
		color: $white;
	}

	&--red {
		background-color: $error;
		color: $white;
	}

	&--blue {
		background-color: $brand-primary;
		color: $white;
	}

	&--link {
		background-color: $link;
		color: $white;
	}

	&--secondary {
		background-color: $brand-secondary;
		color: $white;
	}

	&--success {
		background-color: $success;
		color: $white;
	}

	&--error {
		background-color: $error;
		color: $white;
	}

	&--cta {
		background-color: $cta;
		color: $white;
	}

	&--o {
		background-color: transparent;
		border: .1rem solid $gray400;

		&-gray400 {
			border-color: $gray400;
		}

		&-gray500 {
			border-color: $gray500;
		}

		&-gray600 {
			border-color: $gray600;
		}

		&-gray700 {
			border-color: $gray700;
		}

		&-gray800 {
			border-color: $gray800;
		}
	}

	&--white {
		background-color: $white;
		border: .1rem solid $light-grey;
	}

	&--gray700 {
		background-color: $gray700;
		border: .1rem solid $light-grey;
	}

	&--gray800 {
		background-color: $gray800;
		border: .1rem solid $light-grey;
	}
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

.emblems {
	display: flex;
	
	.emblem {
		margin-right: 0.5rem;

		&:last-child {
			margin-right: 0;
		}
	}
}