.errorBanner {
	padding-top: 4rem;
	padding-bottom: 4rem;

	&__content {
		max-width: 48rem;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}

	&__title {
		margin-top: 2rem;
		margin-bottom: 0;
		font-size: 2.4rem;
		color: $color-heading;
	}

	&__message {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		font-size: 1.6rem;
		color: $color-text;
	}

	&__icon {
		display: inline-block;
		font-size: 6rem;
		line-height: 1;
		color: $red;
	}
}
