.c-mergetags {
  $side-padding: 1.7rem;
  z-index: 40;

  &__container {
    background-color: $white;
    width: 20.6rem;
    max-height: 33rem;
    border-radius: .3rem;
    @include shadow('medium');
    overflow-y: scroll;
    padding: 1.2rem $side-padding;
    border: .1rem solid $gray600;
    margin-top: .5rem;
    color: $color-text;
    font-size: 1.1rem;
    z-index: 40;

    &::-webkit-scrollbar-track {
      box-shadow: none;
      background-color: $gray300;
    }

    &::-webkit-scrollbar {
      width: .3rem;
      background-color: $gray600;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray800;
    }
  }

  &__input {
    position: relative;
  }

  &__trigger {
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);
    display: flex;
    padding: .3rem;
    cursor: pointer;

    .has-suggest & {
      svg circle {
        fill: $link;
      }
    }
  }

  &__tip {
    color: $gray800;
    display: flex;
    align-items: center;

    svg {
      width: 1.3rem;
      height: 1.3rem;
      margin-right: 0.5rem;
    }
  }

  &__title {
    color: $link;
    margin: 0 0 .5rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 #{-$side-padding};
  }

  &__category {
    color: $link;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 .5rem;

    .c-mergetags__list + & {
      margin-top: 2.5rem;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .33rem $side-padding;
    cursor: pointer;

    &:hover {
      background-color: lighten($link, 37%);
    }

    > div:first-child {
      font-weight: 500;
      width: 50%;
    }
  }
}

.c-merge-tags {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;

	&-container {
		margin-top: 3rem;
	}

	&__list {
		padding-left: 0;
		margin-bottom: 1.5rem;
	}

	&__heading {
		color: $link;
		font-size: 1.4rem;
	}

	&__id {
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

		&:hover {
			cursor: pointer;
			color: $link;
			font-weight: 600;
		}
	}

	&__item {
		padding: .5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-size: 1.3rem;
		transition: all .2s linear;
		border-radius: .3rem;
		line-height: 1;

		&:hover {
			background-color: $light-grey;
		}
	}
}
