.mock {
	position: relative;
	width: 100%;
	border-radius: .4rem;
	overflow: hidden;

	&--user-sidebar-container {
		padding: 1.5rem 1rem!important;
	}

	&--horizontal {
		display: flex;

		.mock--line + .mock--line {
			margin-left: 1rem;
		}
	}

	&--dark {
		background-color: rgba($black, .1);
		position: relative;

		&:before {
			content: "";
			animation-duration: .9s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;
			animation-name: placeHolderShimmer;
			animation-timing-function: linear;
			background: linear-gradient(to right, rgba(0,0,0,0) 10%, rgba($black, .1) 18%, rgba(0,0,0,0) 33%);
			background-size: 800px 104px;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

 &--light {
		background-color: rgba($white, .1);
		position: relative;

		&:before {
			content: "";
			animation-duration: .9s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;
			animation-name: placeHolderShimmer;
			animation-timing-function: linear;
			background: linear-gradient(to right, rgba(0,0,0,0) 10%, rgba($white, .1) 18%, rgba(0,0,0,0) 33%);
			background-size: 800px 104px;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&--square {
		flex: 0 0 auto;
		width: 4rem;
		height: 4rem;
		margin: 1rem;
	}

	&--line {
		height: .9rem;
		margin: .6rem 0;
	}

	.l {
		&-10 {
			width: 10%;
		}

		&-20 {
			width: 20%;
		}

		&-30 {
			width: 30%;
		}

		&-50 {
			width: 50%;
		}
		&-70 {
			width: 70%;
		}
	}
}

.h {
	&-1 {
		height: 3rem;
	}
}

@keyframes placeHolderShimmer{
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}
