#swal-job-done {
	width: 10rem;
	margin: 0 auto 2rem;
}

#swal-job-updated {
	font-weight: 400;
}

/* Smoke container */

#smoke {
	position: relative;
	width: 100%;
	height: 1rem;
}

/* smoke balls */

#smoke span { 
  display: block;
	position: absolute;
	bottom: -5px; left: 50%; margin-left:-13px;
	height: 0px; width: 0px;
	height: 23px;
	width: 20px;
	background: rgba($gray500, .3);
	border: .2rem solid $gray600;
	border-radius: 35px;
	opacity: 0;
	transform: scale(0.2);
}

// #smoke span:nth-child(3n) {
// 	border-width: .3rem;
// 	border-color: $gray600;
// 	height: 17px;
// 	width: 17px;
// }

/* Smoke animation */

@keyframes smokeL {
	0%   { transform: scale(0.2) translate(0, 0) }
	20%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(-20px, -130px) }
}

@keyframes smokeR {
	0%   { transform: scale(0.2) translate(0, 0) }
	20%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(20px, -130px) }
}

#smoke .s0 { animation: smokeL 5s 0s infinite }
#smoke .s1 { animation: smokeR 5s 0.6s infinite }
#smoke .s2 { animation: smokeL 5s 1s infinite }
#smoke .s3 { animation: smokeR 5s 1.6s infinite }
#smoke .s4 { animation: smokeL 5s 1.9s infinite }
#smoke .s5 { animation: smokeR 10s 5s infinite }
#smoke .s6 { animation: smokeL 10s 6s infinite }
#smoke .s7 { animation: smokeR 10s 7s infinite }
#smoke .s8 { animation: smokeL 10s 8s infinite }
#smoke .s9 { animation: smokeR 10s 9s infinite }