body:not(.body--reactive):not(.body--activedialer):not(.body--editlead):not(.body--createlead) .panel {  
  box-shadow: none;
  background-color: transparent;

  padding: 0 2.5rem;

  &-heading {
    border-radius: 0;
    padding: 0;
    margin-bottom: 2rem;
    margin: -5rem -2.5rem 2rem -2.5rem;
    padding: 0 2.5rem;
    border-bottom: .2rem solid darken($grey, 5%);
  }

  &-options {

    .nav.nav-tabs {
      margin: 0;
      border: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;

      > li {
        // flex: 1 1 auto;
        // text-align: center;
        // float: none;
        display: block;
        margin: 0;

        > a {
          margin: 0;
          padding: 1.5rem 3rem;
          border: 0;
          border-radius: 0;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.2rem;

          &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0.2rem;
            background-color: $dark-grey;
            transition: all .5s $bezier;
          }

          &:hover {
            background-color: transparent;
            color: $black;

            &:before {
              width: 2rem;
            }
          }
        }

        &.active > a {
          color: $blue;
          background-color: transparent;
          
          &:before {
            width: 4rem;
            background-color: $blue;
          }
        }
      }
    }
  }

  &-body {
    background-color: $white;
    padding: 2rem;
  }
}

.main-content > .panel,
#root > .panel {
  // margin: 0 2.5rem;
}