body:not(.body--reactive):not(.body--activedialer):not(.body--editlead):not(.body--createlead):not(.body--journeys) .panel {
  border: none;
  border-radius: .4rem;
	@include shadow('medium', .5);
	margin-bottom: 2rem;

	> .ReactTable {
		border: none;
		border-radius: .4rem;
		overflow: hidden;
	}

  > .ReactTable {
    border: none;
  }

  &-placeholder {
    background-color: $gray400;
    border-radius: .4rem;
    box-shadow: inset 0 0 0 .2rem $gray600;
  }

  &-heading {
    border-radius: 0;
    padding: 0;

    &:not(.has-description) {
      display: flex;
      justify-content: space-between;
    }

    &.has-description {
      padding: 1.2rem 2rem;

      .panel-title {
        padding: 0;
      }
    }

    .form-group {
      margin: 0;
    }
  }

  &-search {
    position: relative;
    padding: 1.2rem 2rem;

    &__input {
      padding: .5rem 3rem .5rem 1.2rem;
    }
    
    &__icon {
      position: absolute;
      right: 3rem;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.33;
      user-select: none;
    }
  }

  &-title {
		color: $color-heading;
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
    font-weight: 700;

    .panel > & {
      padding: .5rem;
    }

    & + .panel-options {
      padding: 1.2rem 2rem;
    }
  }

  &-description {
    margin: 0;
  }

  &-options {

    .nav.nav-tabs {
      margin: 0;
      padding: 0;
      border: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;

      > li {
        // flex: 1 1 auto;
        // text-align: center;
        // float: none;
        display: block;
        margin: 0;

        > a {
          display: block;
          margin: 0;
          padding: 1.5rem 3rem;
          border: 0;
          border-radius: 0;
          text-transform: uppercase;
          font-size: 1.1rem;
          letter-spacing: .05rem;
          font-weight: 600;
          // background-color: darken($grey, 2.5%);

          > i {
            margin-right: .6rem;
          }

          &:hover {
            background-color: rgba($white, .2);
          }
        }

        &.active > a {
          color: $link;
          background-color: $white;
        }
      }
    }
  }

  &-body {
    position: relative;
    padding: 2rem;
  }

  > .ReactTable {
    border: none;
  }
}

.main-content > .panel,
#root > .panel {
  margin: 0 2.5rem;

  + .panel {
    margin-top: 2.5rem;
  }
}
