body:not(.body--reactive):not(.body--activedialer):not(.body--editlead):not(.body--createlead) .panel {
  box-shadow: none;
  // border-width: 0 .1rem .1rem .1rem;
  // border-style: solid;
  // border-color: $grey;
  border: .1rem solid $grey;

  &-heading {
    background-color: $grey;
    border: none!important;
    border-radius: 0;
    padding: 0;
  }

  &-options {
    .nav.nav-tabs {
      margin: 0;
      border: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;

      > li {
        // flex: 1 1 auto;
        // text-align: center;
        // float: none;
        display: block;
        margin: 0;

        > a {
          margin: 0;
          padding: 1.5rem 3rem;
          border: 0;
          border-radius: 0;
          background-color: darken($grey, 2.5%);
        }

        &.active > a {
          color: $blue;
          background-color: $white;
        }
      }
    }
  }

  &-body {
    padding: 2rem;
  }
}

.main-content > .panel,
#root > .panel {
  margin: 0 2.5rem;
}