.p-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	overflow-y: scroll;

	.p-modal-container {
		position: absolute;
		z-index: 200;
		left: 50%;
		margin-top: 8rem;
		transform: translate(-50%, 20%);
		width: 100%;
		max-width: 66rem;
		background: $white;
		border-radius: .4rem;
		opacity: 0;
		animation: modalIn .3s forwards;
		transition: all 0.5s $bezier;
		box-shadow: 0 5rem 10rem rgba(50, 50, 93, 0.05), 0 1.5rem 3.5rem rgba(50, 50, 93, 0.08), 0 0.5rem 1.5rem rgba(24, 28, 47, 0.05);
	}

	.fa-pause-circle {
		color: $success;
	}

	&__header {
		padding: 3rem 4rem;
		background-color: $gray300;
		border-top-left-radius: .4rem;
		border-top-right-radius: .4rem;
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: rgba($shadow, .5);
		transition: all 0.5s $bezier;
		animation: modalInOverlay 0.4s $bezier;
	}

	&__title {
		color: $black;
		margin: 0;
		font-size: 2.2rem;
		line-height: 2.8rem;
		font-weight: 500;
	}

	&_content {
		padding: 3rem 4rem;
		font-size: 1.4rem;

		.modal-footer{
			padding: 2rem 0 0 0;
			text-align: left;
			border: none;
		}

		h3.on-pause{
			margin: 0 0 3rem;
		}
	}

	&__close {
		position: absolute;
		display: flex;
		align-content: center;
		justify-content: center;
		top: .5rem;
		right: .4rem;
		width: 4rem;
		height: 4rem;
		padding: 0;
		color: $color-text;
		font-size: 2.2rem;
		outline: 0;
		border: none;
		background: transparent;
		appearance: none;
		-webkit-appearance: none;

		> i {
			pointer-events: none;
		}
	}

	&__column {
		padding: 4rem 4rem 4rem 2rem;
	}
}

@keyframes modalIn {
	from {
		opacity: 0;
		transform: translate(-50%, 20%);
	}

	to {
		opacity: 1;
		transform: translate(-50%, 0%);
	}
}

.pause-reason {
	display: block;

	label {
		width: 100%;
		justify-content: flex-start;
		grid-column: header;
	}

	.field {
		display: block;
		width: 100%;
		background-color: $white;
		padding: 0.8rem 0;
		font-size: 1.4rem;
		font-weight: 500;
		color: $black;
		border-radius: 0.3rem;
		transition: 0.2s ease-in-out;
	}
}
