$alert-height: 5rem;
$layout-delay: .3s;

body {
	transition: padding-top .3s $layout-delay linear;

	&.has-banner-alert {
		padding-top: $alert-height;
	}
}

.c-paymentAlert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	transform-origin: center top;
	backface-visibility: visible;
	animation: rotateIn .5s $layout-delay ease both;

	@at-root {
		@keyframes rotateIn {
			0% {
				transform: perspective(200px) rotateX(-180deg);
			}
			100% {
				transform: perspective(200px) rotateX(0deg);
			}
		}
	}

	&--error {
		background-color: $red;
		color: $white;
	}

	&--warning {
		background-color: $warning;
		color: $white;
	}

	&__inner {
		width: 100%;
		transition: width .3s linear;
		display: flex;
		justify-content: center;
		align-items: center;
		height: $alert-height;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 1;

		@include mq(sm) {
			width: calc(100% - 24.8rem);

			.sidebar-collapsed ~ .c-paymentAlert & {
				width: calc(100% - 7.2rem);
			}
		}
	}

	&__icon {
		display: flex !important;
		justify-content: center;
		align-items: center;
		vertical-align: middle;
		width: 3rem;
		height: 3rem;
		font-size: 1.5rem;
		margin-right: 1rem;
		background-color: rgba($white, .1);
		border-radius: 50%;

		&::before {
			position: relative;
			top: -0.2rem;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 1.3rem;

		a {
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
