.rate-us {
	position: fixed;
	bottom: 4rem;
	left: 50%;
	transform: translate(-50%, 200%);
	background-color: $white;
	z-index: 40;
	border-radius: .6rem;
	@include shadow('large');
	width: 66rem;
	font-size: 1.4rem;
	animation: animateIn .6s $bezier 1.5s forwards;

	&__cancel {
		position: absolute;
		top: 1.2rem;
		right: 1.2rem;
		cursor: pointer;

		 &:hover path {
			stroke: $black;
		}
	}

	&__message {
		padding: 2.5rem 2.5rem .8rem;

		h2 {
			margin: 0 0 .8rem;
		}
	}

	.scores {
		padding: 0 2.5rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__score {
			width: 4rem;
			height: 4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			border-radius: 100%;
			border: .2rem solid $gray700;
			font-weight: 600;
			color: $gray800;
			cursor: pointer;

			&:hover {
				color: $white;
				border-color: $link;
				background-color: $link;
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 1.2rem 2.5rem;
		background-color: $gray300;
	}
}

@keyframes animateIn {
	from {
		transform: translate(-50%, 200%)
	}
	to {
		transform: translate(-50%, 0%)
	}
}