.sorry-status {
	&-bar {
		padding-left: 24.8rem;
	}

	.body--reactive &-bar {
		padding-left: 7.2rem;	
	}

	&-notice {
		cursor: default;
		background-color: $warning!important;
		color: $black;

		&:first-child,
		&:last-child {
			padding: 1rem 2rem!important;
		}

		&-content {
			display: flex;
			justify-content: center;
			align-items: center;
			color: inherit !important;
		}

		&-details {
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
		}

		&-header {
			font-size: 1.4rem!important;
			color: inherit!important;
			margin-right: 2rem;
			margin-bottom: 0!important;
			flex: 0 0 10rem;
		}

		&-text {
			font-size: 1.4rem!important;
			color: inherit!important;
			margin-bottom: 0 !important;
		}

		&-link {
			border: none!important;
			color: inherit!important;
			flex: 0 0 8rem;
		}
	}
}