.spinner {
	display: inline-block;
	vertical-align: middle;
	position: relative;

	&--mini {
		width: 1.2rem;
		height: 1.2rem;

		&:before,
		&:after {
			border: .2rem;
		}
	}

	&--small {
		height: 2rem;
		width: 2rem;

		&:before,
		&:after {
			border: .3rem;
		}
	}

	&--medium {
		height: 4rem;
		width: 4rem;

		&:before,
		&:after {
			border-width: .5rem;
		}
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: inherit;
		height: inherit;
		border-radius: 50%;
		border-style: solid;
		border-color: transparent;
	}

	&:before {
		border-top-color: $blue-lighter;
		border-top-color: $blue;
		animation: spinner .7s .3s infinite ease-in-out;
	}

	&:after {
		z-index: 1;
		border-top-color: $blue-dark;
		animation: spinner 1s infinite ease-in-out;
	}

	&--light {
		&:after {
			border-top-color: rgba($white, .5);
		}
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}
