.p-tabs {
	position: relative;
	width: 100%;
	// font-family: $heading;

	#root > & {
		padding: 0 2.5rem;
	}

	&__header {
		position: relative;
		margin-bottom: 3rem;
		border-bottom: .1rem solid $gray500;

		> div {
			overflow: hidden;
		}

		&:before,
		&:after {
			transition: all .3s $bezier;
		}

		&.is-carousel:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: -.2rem;
			background: $gray300;
			left: 0;
			width: 3rem;
			background: linear-gradient(-90deg,
				rgba(250,250,251,0) 0%,
				rgba(250,250,251,0) 10%,
				rgba(250,250,251,1) 50%
			);
			z-index: 1;
			opacity: 0;
		}

		&.is-hovered:before {
			opacity: 1;
		}

		&.is-hovered .p-tabs__nav {
			transform: translateX(-4rem);
		}

		&.is-carousel {
			&.at-start:before,
			&.at-end:after {
				content: "";
				position: absolute;
				top: 0;
				width: 6rem;
				height: 100%;
				background: $gray300;
			}

			&.at-start:before {
				left: 0;
				width: 3rem;
				background: linear-gradient(-90deg,
					rgba(250,250,251,0) 0%,
					rgba(250,250,251,0) 10%,
					rgba(250,250,251,1) 50%
				);
				z-index: 1;
			}

			&.at-end:after {
				right: 0;
				background: linear-gradient(90deg,
					rgba(250,250,251,0) 0%,
					rgba(250,250,251,0) 10%,
					rgba(250,250,251,1) 50%
				);
			}
		}

		&Spin {
			display: none;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			padding: .3rem;
			background-color: $gray800;
			border: .2rem solid darken($gray800, 10%);
			border-radius: 100%;
			// @include shadow('small');
			z-index: 5;
			transition: all .3s $bezier;
			cursor: pointer;

			height: 2.5rem;
			width: 2.5rem;

			$arrow-color: $white;
			$arrow-size: .9rem;
			$arrow-border: 0.2em;

			.s-arrow {
				transform: translateX(1.2rem);

				&:after,
				&:before {
					content: "";
					display: block;
					position: absolute;
					transition: all 0.5s ease-in-out;
				}

				&:before {
					top: 50%;
					right: $arrow-size;
					width: $arrow-size;
					height: $arrow-size;
					transform-origin: 50% 50%;
					transform:  translate(0, -($arrow-size / 2)) rotate(45deg);
					box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $arrow-color;
					border-radius: 0 $arrow-size*0.15 0 0;
				}
			}

			.is-carousel & {
				display: flex;
			}

			&.to-start .s-arrow {
				transform: translateX(1.4rem);
				
				&:before {
					box-shadow: inset #{$arrow-border} -$arrow-border 0 0 $arrow-color;
				}

				&:after {
					box-shadow: inset #{$arrow-border} -$arrow-border 0 0 $arrow-color;
				}
			}
		}

		&:hover {
			.p-tabs {
				&__header {
					&Spin {
						background-color: $link;
						transform: scale(1.1) translate(.5rem, -50%);
						border: .2rem solid lighten($link, 27%);
						@include shadow('medium');
					}
				}
			}
		}
	}

	&__spinner {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	&__nav {
		position: relative;
		display: flex;
		will-change: transform;
		transition: transform .8s $bezier;
	}

	&__link {
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 1rem 0 .8rem;
		margin-right: 4rem;
		font-weight: 700;
		font-size: 1.5rem;
		color: $gray800;
		border-bottom: .2rem solid rgba($brand-primary, 0);
		margin-bottom: -.1rem;
		white-space: nowrap;

		&:last-child {
			margin-right: 0;
		}

		&Icon {
			display: flex;
			margin-right: 1rem;

			&:not(.--fill) {
				path,
				circle {
					stroke: $gray800;
				}
	
				.is-active & {
					path,
					circle {
						stroke: $brand-primary;
					}	
				}
			}

			&.--fill {
				path,
				circle {
					fill: $gray800;
				}
	
				.is-active & {
					path,
					circle {
						fill: $brand-primary;
					}	
				}
			}
		}

		&:hover:not(.is-active) {
			$hover: $black;
			color: $hover;
			// border-bottom-color: $gray800;

			.p-tabs__linkIcon {
				&.--fill {
					path,
					circle {
						fill: $hover;
					}
				}

				&:not(.--fill) {
					path,
					circle {
						stroke: $hover;
					}
				}
			}
		}

		&.is-active {
			color: $brand-primary;
			border-bottom-color: rgba($brand-primary, 1)
		}
	}
}