//Import React table
// @import "../../node_modules/react-table/react-table.css";

table {
  font-size: 1em;
}

//colors
$black_10: rgba(0, 0, 0, 0.1);
$black_3: rgba(0, 0, 0, 0.03);
$black_5: rgba(0, 0, 0, 0.05);
$white: #fff;
$black_2: rgba(0, 0, 0, 0.02);
$black_15: rgba(0, 0, 0, 0.15);
$black_60: rgba(0, 0, 0, 0.6);
$color_black_haze_approx: #f7f7f7;
$black_80: rgba(0, 0, 0, 0.8);
$black_30: rgba(0, 0, 0, 0.3);
$white_80: rgba(255, 255, 255, 0.8);
$black_50: rgba(0, 0, 0, 0.5);

//@extend-elements
//original selectors
//.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select
%extend_1 {
  border: 1px solid $black_10;
  background: $white;
  padding: 1.2rem 2rem;
  font-size: inherit;
  border-radius: 3px;
  font-weight: normal;
  outline: none;
}

//original selectors
//.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td
%extend_2 {
  position: relative;
  padding: 1.2rem 2rem;
  font-family: $heading;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  border-bottom: .2rem solid $grey;
}

//original selectors
//.ReactTable .rt-thead .rt-header-pivot:after, .ReactTable .rt-thead .rt-header-pivot:before
%extend_3 {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

//original selectors
//.ReactTable .rt-th, .ReactTable .rt-td
%extend_4 {
  flex: 1 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: .8rem 2rem;
  overflow: hidden;
  transition: 0.3s ease;
  transition-property: width, min-width, padding, opacity;
}

//original selectors
//.ReactTable .rt-th.-hidden, .ReactTable .rt-td.-hidden
%extend_5 {
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 0 !important;
}

//original selectors
//.ReactTable .-pagination input, .ReactTable .-pagination select
%extend_6 {
  border: 1px solid $black_10;
  background: $white;
  padding: 5px 7px;
  font-size: inherit;
  border-radius: .4rem;
  font-weight: normal;
  outline: none;
}

//original selectors
//.ReactTable .rt-resizing .rt-th, .ReactTable .rt-resizing .rt-td
%extend_7 {
  transition: none !important;
  cursor: col-resize;
  user-select: none;
}

.ReactTable {
  position: relative;
  display: flex;
  flex-direction: column;
  // padding: 1.2rem;
  border-radius: .4rem;
  border: .1rem solid $grey;
  background-color: $white;

  * {
    box-sizing: border-box;
    outline: none;
  }

  .rt-table {
    flex: auto 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
  }

  .rt-thead {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    user-select: none;
    font-size: 1.2rem;
    color: $color-heading;

    &.-headerGroups {
      background: $black_3;
      border-bottom: 1px solid $black_5;
    }

    &.-filters {
      border-bottom: 1px solid $black_5;

      input {
        @extend %extend_1;
      }

      select {
        @extend %extend_1;
      }

      .rt-th {
        text-align: left;
      }
    }

    &.-header {
      // box-shadow: 0 2px 15px 0 $black_15;
    }

    .rt-tr {
      text-align: left;
    }

    .rt-th {
      @extend %extend_2;
      position: relative;

      &.-cursor-pointer {
        cursor: pointer;

        &:before,
        &:after {
          @extend .fas;
          position: absolute;
          right: .8rem;
          line-height: .5;
          color: $grey;
        }
  
        &:before {
          content: fa-content($fa-var-caret-up);
          bottom: 50%;
        }
  
        &:after {
          content: fa-content($fa-var-caret-down);
          top: 50%;
        }
  
        &.-sort-asc {
          &:before {
            color: $color-heading;
          }
        }
  
        &.-sort-desc {
          &:after {
            color: $color-heading;
          }
        }
      }

      &:last-child {
        border-right: 0;
      }
    }

    .rt-td {
      @extend %extend_2;
      padding-left: 2rem;

      &.-sort-asc {
        box-shadow: inset 0 3px 0 0 $black_60;
      }

      &.-sort-desc {
        box-shadow: inset 0 -3px 0 0 $black_60;
      }

      &.-cursor-pointer {
        cursor: pointer;
      }

      &:last-child {
        border-right: 0;
      }
    }

    .rt-resizable-header {
      overflow: visible;
      &:last-child {
        overflow: hidden;
      }
    }

    .rt-resizable-header-content {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .rt-header-pivot {
      border-right-color: $color_black_haze_approx;

      &:after {
        @extend %extend_3;
        border-color: rgba(255, 255, 255, 0);
        border-left-color: $white;
        border-width: 8px;
        margin-top: -8px;
      }

      &:before {
        @extend %extend_3;
        border-color: rgba(102, 102, 102, 0);
        border-left-color: $color_black_haze_approx;
        border-width: 10px;
        margin-top: -10px;
      }
    }
  }

  .rt-tbody {
    flex: 99999 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: 1.4rem;

    .rt-tr-group {
      // border-bottom: .1rem solid $light-grey;

      .rt-tr {
        align-items: center;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    .rt-td {
      // border-right: 1px solid $black_2;

      &:last-child {
        border-right: 0;
      }
    }

    .rt-expandable {
      cursor: pointer;
      text-overflow: clip;
    }
  }

  .rt-tr-group {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .rt-tr {
    flex: 1 0 auto;
    display: inline-flex;
  }

  .rt-th {
    @extend %extend_4;
    &.-hidden {
      @extend %extend_5;
    }
  }

  .rt-td {
    @extend %extend_4;

    &.has-navigation {
      overflow: visible;
      text-align: right;
    }

    &.-hidden {
      @extend %extend_5;
    }
  }

  .rt-expander {
    display: inline-block;
    position: relative;
    margin: 0;
    color: transparent;
    margin: 0 10px;

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      border-left: 5.04px solid transparent;
      border-right: 5.04px solid transparent;
      border-top: 7px solid $black_80;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      cursor: pointer;
    }

    &.-open:after {
      transform: translate(-50%, -50%) rotate(0);
    }
  }

  .rt-resizer {
    display: inline-block;
    position: absolute;
    width: 36px;
    top: 0;
    bottom: 0;
    right: -18px;
    cursor: col-resize;
    z-index: 10;
  }

  .rt-tfoot {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 0 $black_15;
    .rt-td {
      border-right: 1px solid $black_5;
      &:last-child {
        border-right: 0;
      }
    }
  }

  .-pagination {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 1.2rem .3rem .3rem;

    input {
      @extend %extend_6;
    }

    select {
      @extend %extend_6;
    }

    .-btn {
      appearance: none;
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 3px;
      padding: 6px;
      font-size: 1em;
      color: $black_60;
      background: $black_10;
      transition: all 0.1s ease;
      cursor: pointer;
      outline: none;

      &:not([disabled]):hover {
        background: $black_30;
        color: $white;
      }
    }

    .-btn[disabled] {
      opacity: 0.5;
      cursor: default;
    }

    .-previous {
      flex: 1;
      text-align: center;
    }

    .-next {
      flex: 1;
      text-align: center;
    }

    .-center {
      flex: 1.5;
      text-align: center;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }

    .-pageInfo {
      display: inline-block;
      margin: 3px 10px;
      white-space: nowrap;
    }

    .-pageJump {
      display: inline-block;
      input {
        width: 70px;
        text-align: center;
      }
    }
    
    .-pageSizeOptions {
      margin: 3px 10px;
    }
  }

  .rt-noData {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $white_80;
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 20px;
    color: $black_50;
  }

  .-loading {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $white_80;
    transition: all 0.3s ease;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    
    > div {
      position: absolute;
      display: block;
      text-align: center;
      width: 100%;
      top: 50%;
      left: 0;
      font-size: 15px;
      color: $black_60;
      transform: translateY(-52%);
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &.-active {
      opacity: 1;
      z-index: 2;
      pointer-events: all;
      > div {
        transform: translateY(50%);
      }
    }
  }

  .rt-resizing {

    .rt-th {
      @extend %extend_7;
    }

    .rt-td {
      @extend %extend_7;
    }
  }

  &.-striped .rt-tr.-odd {
    background: $light-grey;
  }

  &.clickable-tr {
    .rt-tbody .rt-tr {
      cursor: pointer;
      
      &:hover {
        background-color: $gray400;
      }
    }
  }

  &.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: $light-grey;
  }
}

.table {

  .field-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > span:first-child {
      margin-right: 1rem;
    }
  }

  &__nav {
    display: inline-block;
    position: relative;
    text-align: left;

    .button {
      // background-color: $light-grey;
      // border: 1px solid $light-grey;
      padding: .3rem 1.2rem .4rem;
      font-size: 1.2rem;
    }

    .nav {
      &__dropdown {
        list-style: none;
        position: absolute;
        right: 0;
        top: 100%;
        transform: translateY(1rem);
        display: none;
        padding: .8rem 0;
        border-radius: .4rem; 
        z-index: 90;
        background-color: $white;
        border: .1rem solid $grey;
        min-width: 12rem;
        @include shadow('medium');
        font-size: 1.4rem;

        &.is-active {
          display: block;
        }
      }

      &__item {
        > a,
        > button {
          display: block;
          padding: .8rem 1.2rem;
        }

        &:hover {
          background-color: $light-grey;
        }
      }
    }
  }

  &__footer {
    display: flex;
    padding: 1.2rem 2rem;
    border-top: .2rem solid $grey;
    align-items: center;

    @include mq($until: sm) {
      flex-direction: column;
    }
    
    @include mq(sm) {
      justify-content: space-between;
    }
    
    .button {
      font-size: 1.2rem;
    }
  }

  &__pagination {
    display: flex;

    .pages {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      margin: 0 1.2rem;

      &--loading {
        display: flex;
        align-items: center;
        margin: 0 2rem;
      }

      .page {
        &.is-active {
          color: $ui-blue;
        }
      }
    }
  }

  &__filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include mq($until: sm) {
      flex-direction: column;
    }

    > div {
      margin-right: 1rem;
    }

    .select select {
      min-width: 13rem;
    }
  }

  &--white {
    background-color: #fff;
  }
}