.c-textarea {
	position: relative;

	&__field {
		&:hover .c-textarea__input {
			border-color: $dark-grey;
		}
	}

	&__input {
		display: block;
		width: 100%;
		background-color: $white;
		border: 0.2rem solid $grey;
		padding: 0.8rem 1.2rem;
		font-size: 1.4rem;
		font-weight: 500;
		color: $black;
		border-radius: 0.3rem;
		transition: 0.2s ease-in-out;
		overflow: hidden;
		resize: none;

		&:focus {
			outline: none;
			border-color: $link!important;
		}

		&:disabled {
			cursor: not-allowed;
			background-color: $light-grey;
			color: $dark-grey;
		}

		&::placeholder {
			color: $gray700;
			font-weight: 400;
		}

		.has-submit &,
		.has-emoji & {
			padding-right: 3.8rem;
		}

		.has-submit.has-emoji & {
			padding-right: 7.6rem;
		}

		&--error {
			border-color: $error!important;
		}
	}

	&__submit,
	&__emoji {
		position: absolute;
		top: 1.3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover path {
			stroke: $link;
		}
	}

	&__submit {
		right: 1.2rem;
	}

	&__emoji {
		right: calc(1.2rem + 1.2rem + 1.8rem);
	}

	.emoji-picker {
		z-index: 999;
	}

	&__response {
		display: flex;
		align-items: center;
    font-size: 1.1rem;
		font-weight: 500;
		
		> svg {
			margin-right: .4rem;
		}

    &.is-success {
      color: $success;
		}
		
    &.is-info {
      color: $link;
    }

    &.is-error {
      color: $error;
    }
  }
}