.tile {
  @include shadow('medium');
  position: relative;
  padding: 2rem;
  color: $white;
  background-color: $dark-grey;
  border-radius: .6rem;
  min-height: 12.8rem;

  .row & {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 0 0.5rem;
    color: inherit;
  }

  &__number {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 300;
  }

  &__icon {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 11rem;
    line-height: 1;
    color: rgba($shadow, .0777);
    overflow: hidden;

    > i {
      position: absolute;
      top: 2rem;
      right: -2rem;
    }
  }

  &__close {
    position: absolute;
    top: -.5rem;
    right: -.6rem;
    appearance: none;
    background-color: rgba($black, .8);
    border: none;
    border-radius: 2rem;
    transform: scale(.7);
    opacity: 0;
    transition: all .3s $bezier;
    outline: 0;
  }

  &:hover &__close {
    opacity: 1;
    transform: scale(1);
  }

  // Color variations
  &--blue {
    background-color: $ui-blue;
  }

  &--red {
    background-color: $red;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--green {
    background-color: $green;
  }
}

.tile-block {
  .btn {
    background-color: rgba($black, .20);
    border-color: rgba($black, .20);
    color: $white;

    &:hover {
      color: $white;
      box-shadow: 0 0 0 .2rem rgba($black, .28);
    }

    &:active {
      background: 0 0;
      color: $white;
    }

    &:focus {
      color: $white;
      box-shadow: 0 0 0 .2rem rgba($white, .28);
    }
  }
}