// Tour styling
.tour-prompt {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	background-color: $cta;
	display: none;
	padding: 1rem 3rem;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		h3 {
			color: $white;
			font-weight: 600;
			font-size: 2.4rem;
		}
	}
}

