.verify-number {
	&__form {
		margin-top: 3rem;

		.c-form {
			&__group {
				display: block;
			}

			&__header {
				width: 100%;
				justify-content: flex-start;
			}

			&__field {
				margin-left: 0;
				display: flex;
			}
		}
	}

	&__validation {
		margin-top: 2rem;
		margin-bottom: 0rem;
		padding: 1rem;
		border-radius: 0.5rem;
		background-color: $gray300;

		&-label {
			color: $gray800;
			margin-bottom: 0;
		}
	}

	&__number {
		font-size: 2rem;
		font-weight: 500;
	}
}
