@import "../../lib/core/sass/colours";

.gauge__container {
  width: 10rem;
  border-bottom: $brand-primary 4px solid;
}

.gauge__title {
  font-size: 10px;
  font-weight: 600;
  color: $gray700;
}

.gauge__display {
  display: flex;
  background-color: rgba(206, 206, 206, 0.2);
  align-items: center;
  text-align: end;
  padding: 0.4rem;

  > div {
    width: 50%;
  }
}

