@import '../../lib/core/sass/colours';

.test__container {
  overflow: hidden;
  background-color: $white;
}

.test__title {
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: $gray400;
  border-bottom: $gray600 1px solid;
}

.test__status {
  padding: 0.4rem 0.6rem;
  text-align: center;
  margin-right: 0.5rem;
  background-size: 200% 200%;
  background-position: right;
  transition: background-position 0.2s;

  &--passed {
    @extend .test__status;
    background-image: linear-gradient(to right, $success 50%, $warning 50%);
    background-position: left;
  }

  &--pending {
    @extend .test__status;
    background-color: $warning;
  }

  &--running {
    @extend .test__status;
    background-color: $warning;
  }

  &--failed {
    @extend .test__status;
    background-image: linear-gradient(to right, $error 50%, $warning 50%);
    background-position: left;
  }
}

.raised {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.test__description {
  font-size: 1rem;
  padding: 0.5rem;
}

.test__body {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}
