/**
 * Grid system
 * Variables are found in _variables.scss
 * ============================================================ */


/**
 * Containers
 * ============================================================ */

.container {
	@include make-container();
	@include make-container-widths();

	&--flex {
		@extend .flex;
		@include make-container($clearfix: false);
		@include make-container-widths();
	}
}

// Fluid container
.container-fluid {
	@include make-container();

	&--flex {
		@extend .flex;
		@include make-container($clearfix: false);
	}
}


/**
 * Rows
 * ============================================================ */

.row {
	@extend .flex;
	@extend .flex--row;
	@include make-row($clearfix: false);

	&:after {
		content: '';
		flex: auto;
	}
}


/**
 * Grid columns
 * ============================================================ */

@include make-grid-columns();