.i-may-be-blind {
	display: block;
	position: absolute;
	left: -999px;
	top: -999px;
	transition: none;

	&:active,
	&:focus {
		left: 1.5rem;
		top: 1.5rem;
		z-index: 200;
		padding: 1.5rem;
		font-size: 1.6rem;
		line-height: 1;
		font-weight: 500;
		background-color: $ui-blue;
		color: $white;
		outline: none;
		@include shadow;
	}
}
