body {
	height: 100%;
	font-size: 1.2rem;
	font-family: $plex-sans;
	line-height: 1.6470588235;
	font-weight: 400;
	color: $color-text;
	background-color: $light-grey;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	// &.body--reactive {
	// 	.button {
	// 		border-radius: .31rem;
	// 	}
	// }
}

.swal2-shown {
	height: 100%!important;
}

::selection {
  background: $brand-primary;
  color: $white;
}

body:not(.body--reactive):not(.body--activedialer):not(.body--editlead):not(.body--createlead) .page-container .main-content {
  padding: 0;
	background-color: #FAFAFB!important;

	> .row,
	> #root > .row {
		margin-right: 1rem;
		margin-left: 1rem;
	}
}

.page-container {
	position: relative;
	top: 0;
	height: 100vh;

	@media screen and (min-width: 768px) {
		display: flex;
	}
}
