button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.form {
  &__row {
    margin-bottom: 2rem;
  }

  &__label {
    color: $black;
    font-weight: normal;
  }

  &-control {
    border-radius: .3rem;
    border: .2rem solid $gray400;
    height: 3.5rem;

    &:focus {
      border-color: $link;
    }
  }
}

.select {
  position: relative;
  width: fit-content;
  
  select {
    appearance: none;
    -webkit-appearance: none;
  }

  &:after {
    content: fa-content($fa-var-caret-down);
    @extend .fas;
    display: block;
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-30%);
    font-size: 1.2rem;
    color: inherit;
    user-select: none;
    cursor: pointer;
  }
}

.search {
  position: relative;

  &:after {
    content: fa-content($fa-var-search);
    @extend .fas;
    display: block;
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-40%);
    font-size: 1.2rem;
    color: inherit;
    user-select: none;
    cursor: pointer;
  }
}