.flex {
	display: flex;

	&--cell {
		flex: 1;
	}

	&--start {
		justify-content: flex-start;
	}
	&--end {
		justify-content: flex-end;
	}
	&--center {
		justify-content: center;
	}
	&--space-between {
		justify-content: space-between;
	}
	&--space-around {
		justify-content: space-around;
	}

	&--equal-sizing {
		> * {
			flex-basis: 0;
			flex-grow: 1;
		}
	}

	&--column {
		flex-direction: column;

		&.top {
			align-content: flex-start;
		}
		&.bottom {
			align-content: flex-end;
		}
		&.vertical-center {
			align-content: center;
		}
		&.space-between {
			align-content: space-between;
		}
		&.space-around {
			align-content: space-around;
		}
	}

	&--row {
		flex-direction: row;

		&.wrap {
			flex-flow: row wrap;
		}
		&.top {
			align-items: flex-start;
		}
		&.bottom {
			align-items: flex-end;
		}
		&.vertical-center {
			align-items: center;
		}
	}
}

.grid {
	display: grid;
	gap: .8rem .8rem;

	& + & {
		margin-top: .8rem;
	}

	&--filter {
		grid-template-columns: 2fr 4.3rem 3fr 4.3rem;
	}

	@for $i from 1 through 12 {
		&--#{$i} {
			grid-template-columns: repeat($i, 1fr);
		}
	}

}
