/**
 * Base typography
 * ================================================== */

// Headings
h1, h2, h3, h4, h5, h6 {
	color: $color-heading;
	hyphens: none;
	line-height: 1.1;

	> a {
		color: inherit;
	}
}

h3, h4, h5, h6 {
	line-height: 1.5;
}

.h1, .h2, h1, h2 {
	font-family: $heading;
}

h1, .h1 {
	font-size: 2.2rem;
}

h2, .h2 {
	font-size: 2rem;
}

h3, .h3 {
	font-size: 1.8rem;
}

h4, .h4 {
	font-size: 1.6rem;
}

h5, .h5 {
	font-size: 1.6rem;
	font-weight: 600;
}

h6, .h6 {
	font-size: 1.4rem;
}


// Miscellaneous typographic tags
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

mark {
	background-color: rgba($yellow, .3);
}

a {
	color: inherit;
	text-decoration: none;
	transition: all .3s $bezier;

	&:hover {
		color: $brand-primary;
	}
}

.link {
	color: $link;
}

.link {
	color: $link;
}

hr {
	border-width: 0 0 .2rem 0;
	border-style: solid;
	border-color: $grey;
	margin: 2.4rem 0;
	border-radius: .6rem;
}

// Paragraphs
.align {
	&--center {
		text-align: center;
	}

	&--left {
		text-align: left;
	}

	&--right {
		text-align: right;
	}
}


// Spacing
.space {
	&--top {
		margin-top: 4rem;
	}

	&--bottom {
		margin-bottom: 4rem;
	}

	&--none {
		margin: 0;
	}
}


// Helpers
.font-tabular {
	font-variant-numeric: tabular-nums;
}

.sr-only {
	@include sr;
}

.ir {
	@include ir;
}

.no-wrap {
	white-space: nowrap;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

// Colours
.text {
	@include colour-modifiers;
}

audio {
	outline: none;
}

