$button-width: 4.3rem;
$input-border-color: darken($blue-lighter, 5%);

.c-assocList {
	margin-top: 1rem;

	&__item {
		display: grid;
		column-gap: 1rem;
		grid-template-columns: 1fr 1fr $button-width;

		&--map-no-button {
			grid-template-columns: 1fr $button-width 1fr;
		}

		&--map {
			grid-template-columns: 2fr $button-width 2fr $button-width;
		}

		& + & {
			margin-top: 1rem;
		}

		.c-form__input {
			border-color: $input-border-color;
		}
	}

	&__control {
		margin-top: 1rem;
	}

	&__separator {
		align-self: center;
		justify-self: center;
		color: $gray800;
	}

	&__label {
		font-weight: 600;
	}

	&__btn {
		display: inline-block;
		width: $button-width;
		height: $button-width;
		padding: 0;
		margin: 0;
		outline: 0;
		border-radius: .6rem;
		border: .2rem solid $input-border-color;
		background-color: transparent;
		line-height: 4rem;
		cursor: pointer;
		transition: all .3s ease;

		&--remove {
			&:hover {
				background-color: lighten($cta, 25%);
				border-color: $cta;
				color: $cta;
			}
		}

		&--add {
			border-color: $link;
			background-color: $link;
			color: $white;
		}
	}
}

