.c-checkbox {
	position: relative;
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;

	&--table {
		display: block;
	}

	&__input {
		position: absolute;
		z-index: -1;
		left: .4rem;
		top: .2rem;

		&:focus {
			transform: translateY(-.2rem);
		}
	}

	&__icon {
		display: block;
		width: 2.8rem;
		height: 2.8rem;
		border-radius: .5rem;
		line-height: 2.8rem;
		text-align: center;
		background-color: $white;
		border: .2rem solid $grey;
		color: $white;
		transition: all .1s ease;

		&:hover {
			border-color: $dark-grey;
		}

		&:focus {
			border-color: $link;
		}

		&::after {
			content: '\f00c';
			font-family: 'Font Awesome 5 Pro';
			transition: transform .1s ease-in-out;
			display: inherit;
			transform: scale(0);
		}

		&--small {
			width: 2.2rem;
			height: 2.2rem;
			line-height: 2rem;
			font-size: 1rem;
		}

		.c-checkbox__input:focus + & {
			border-color: $link;
		}

		.c-checkbox__input:checked + & {
			background-color: $link;
			border-color: $link;

			&::after {
				transform: scale(1);
			}
		}

		.c-checkbox__input:disabled + & {
			cursor: not-allowed;
			background-color: $white;
			border-color: $grey;
			color: $dark-grey;
		}
	}

	&__label {
		margin-left: 1rem;
		align-self: center;
		font-size: 1.4rem;
		color: $black;
	}

	&--right {
		.c-checkbox {
			&__label {
				margin-left: 0;
				margin-right: 1rem;
			}

			&__input {
				left: auto;
				right: .4rem;
			}
		}
	}
}
