.c-form {
	position: relative;

	&--horizontal {
		.c-form {
			&__group {
				display: grid;
				grid-template-columns: [header] 1fr [field] 2fr;
			}
		}
	}

	&__group {
		&--horizontal {
			display: grid;
			grid-template-columns: [header] 1fr [field] 2fr;
		}

		&--horizontal-2 {
			display: flex;
			align-items: center;

			> span {
				margin: 0 1rem;
			}
		}

		&--right {
			display: flex;
			justify-content: flex-end;
		}

		&--footer {
			display: flex;
			align-items: center;

			.c-form__header {
				margin-bottom: 0;
				margin-left: 1rem;
			}
		}

		&--push-one {
			grid-column: field;
		}

		& + &,
		& + .c-form__flex,
		.c-form__flex + & {
			margin-top: 2.4rem;
		}

		.grid & {
			margin-top: 0;
		}

		.pool-strategy-info {
			margin-top: 1rem;

			.description {
				margin-left: 0.5rem;
				vertical-align: top;
			}
		}
	}

	&__header {
		grid-column: header;
		margin-bottom: .8rem;
	}

	&__heading {
		margin-top: 1.6rem;
		margin-bottom: .8rem;
		font-weight: 600;
		font-size: 1.6rem;
		color: $black;
	}

	&__field {
		grid-column: field;

		&--squeeze {
			display: flex;

			> * {
				flex: 1;

				& + * {
					margin-left: 1.5rem;
				}
			}
		}

		input.c-form__value {
			min-height: 4rem;
			border: .2rem solid #EBECEF;
			width: 100%;
			padding: 0 1rem;
		}
	}

	&__label {
		color: $black;
		font-size: 1.4rem;
		font-weight: 500;
	}

	&__tip {
		font-weight: 400;
		color: $black;
	}

	&__datetime {
		
		> * {
			padding-right: .8rem;
			background-color: $white!important;
			border: 0.2rem solid $gray400!important;
			// font-size: 1.4rem;
			font-weight: 500;
			color: $black;
			border-radius: 0.3rem;
		}
	}

	&__input,
	&__textarea {
		display: block;
		width: 100%;
		background-color: $white;
		border: 0.2rem solid $gray400;
		padding: 0.8rem 1.2rem;
		font-size: 1.4rem;
		font-weight: 500;
		color: $black;
		border-radius: 0.3rem;
		transition: 0.2s ease-in-out;

		&--code {
			font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
		}

		&--sm {
			font-size: 1.2rem;
			padding: 0.6rem 1rem;
		}

		&:hover {
			border-color: $gray600;
		}

		&:focus {
			outline: none;
			border-color: $link;
		}

		&:disabled {
			cursor: not-allowed;
			background-color: $gray300;
			color: $gray500;
		}

		&::placeholder {
			color: $gray700;
			font-weight: 400;
		}

		&--error,
		.c-form__field--error & {
			border-color: $red;
		}
	}

	&__description {
		color: $gray800;
		font-size: 1.2rem;
	}

	&__info {
		margin-top: .8rem;
	}

	&__validation {
		display: flex;
		align-items: center;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		font-weight: 500;

		> .c-icon {
			margin-left: 0;

			+ div {
				margin-left: 0.5rem;
			}
		}

		&--error {
			color: $red;
		}
	}

	&__response {
		margin-right: 1rem;
		display: flex;
		font-size: 1.4rem;
		font-weight: 600;

		&--success {
			color: $green;
		}

		&--error {
			color: $red;
		}
	}

	&__footer {
		position: sticky;
		bottom: 0;
		padding-top: 3rem;
		padding-bottom: 1.5rem;
		background-color: $white;

		&--flex {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&.is-compressed {
		.c-form {
			&__heading {
				margin: 0;
			}
		}

	}

	.headers {
		display: grid;
		grid-template-columns:1fr 2fr;
		font-size: 1.4rem;
		margin-bottom: 2rem;
	}
}

.p-tabs__body .panel-body .row {
	margin-left: .5rem;
	margin-right: .5rem;
	padding-top: 2rem;
}
