.c-operator {
	position: relative;

	&__current {
		display: block;
		width: 4.3rem;
		height: 4.3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	&__list {
		position: absolute;
		top: 100%;
		left: 0;
		width: 19rem;
		list-style: none;
		padding: .5rem 0;
		margin: 0;
		background-color: $white;
		border-radius: .3rem;
		display: none;
		font-size: 1.2rem;
		transition: all .5s $bezier;
		z-index: 30;
		@include shadow('medium');

		> .is-active {
			color: $ui-blue;
			font-weight: 600;
		}

		&.is-open {
			animation: operatorsToggle .3s forwards;
			display: block;

			@at-root {
				@keyframes operatorsToggle {
					from {
						opacity: 0;
						transform: translateY(0);
					}

					to {
						opacity: 1;
						transform: translateY(1rem);
					}
				}
			}
		}

		li {
			display: flex;
			padding: .5rem 2rem;
			cursor: pointer;

			&:hover {
				background-color: $light-grey;
			}

			> i {
				position: relative;
				top: .2rem;
				margin-right: 1rem;
			}

			 > p {
				 margin: 0;
			 }
		}
	}
}