.c-quest {

	&__stage {
		
	}

	&__misson {
		height: 50rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title {
		font-size: 2.8rem;
		font-weight: 600;
		margin-bottom: 1.6rem;
	}
}