.c-radioSelector {
	display: block;
	position: relative;
	cursor: pointer;
	z-index: 0;

	&__input {
		position: absolute;
		z-index: -1;
		top: 0.5rem;
		left: 0.5rem;
		opacity: 0;

		&:checked + .c-radioSelector__content {
			background-color: $link;
			color: $white;
			background-color: $link;
			border-color: $link;
			color: $white;
			@include shadow('medium');

			.c-radioSelector {
				&__icon {
					background-color: lighten($link, 5%);
					color: lighten($link, 30%);
				}

				&__text {
					color: $white;
				}
			}
		}

		&:disabled {
			+ .c-radioSelector__content {
				cursor: not-allowed;
				opacity: .6;
			}
		}

	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 5;
		padding: 1.5rem 2.5rem;
		border-radius: .6rem;
		transition: all .3s ease;
		border: .2rem solid $blue-lighter;

		.is-small &  {
			padding: .8rem;
		}

		.is-medium &  {
			padding: 1.6rem;
		}

		.c-radioSelector__input:focus:not(:disabled) + &,
		&:hover {
			border-color: $link;
			@include shadow;
		}
	}

	&:not(.is-small) &__content {
		min-width: 13rem;
	}

	&__icon {
		display: flex;
		align-self: center;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		width: 4.2rem;
		height: 4.2rem;
		border-radius: 50%;
		background-color: $blue-lighter;
		color: $link;
		transition: all .3s ease;

		.is-small & {
			width: 3.2rem;
			height: 3.2rem;
		}
	}

	&__text {
		margin-top: 1rem;
		font-size: 1.4rem;
		text-align: center;
		color: $black;
	}
}
