
// Grayscale
$gray300: #FAFAFB;
$gray400: #EBECEF;
$gray500: #e0e2e6;
$gray600: #d6d9de;
$gray700: #A9ABB2;
$gray800: #72767F;

// System
$link:    #356CFA;
$error:   #FF4D35;
$warning: #FFBC27;
$success: #00B67A;

// Brand
$brand-primary:   #3639A4;
$brand-secondary: #75E8F0;
$secondary:       #FFB0A3;
$cta:             #FF7364;

// Old colors
$white:     #ffffff;
$light-grey: $gray300;
$grey:       $gray400;
$dark-grey:  $gray700;
$black:     #181C2F;
$shadow:    #32325d;

$yellow:      $warning;
$red:         $error;
$green:       $success;
$light-green: #dcf9dd;
$ui-blue:       $link;

$blue-lighter: #F1F5F9;
$dark-blue:    #3639A4;
$darker-blue:   darken($dark-blue, 7%);
$blue:         #75E8F0;

$color-text:    $black;
$color-heading: $black;


$blue-dark: $dark-blue;

$colours: (
	grey300: $gray300,
	grey400: $gray400,
	grey500: $gray500,
	grey600: $gray600,
	grey700: $gray700,
	grey800: $gray800,

	link: $link,
	error: $error,
	warning: $warning,
	success: $success,

	brand-primary: $brand-primary,
	brand-secondary: $brand-secondary,
	secondary: $secondary,
	cta: $cta,

	white: $white,
	light-grey: $light-grey,
	grey: $grey,
	dark-grey: $dark-grey,
	black: $black,
	shadow: $shadow,

	yellow: $yellow,
	red: $red,
	green: $green,
	light-green: $light-green,
	ui-blue: $ui-blue,

	blue-lighter: $blue-lighter,
	dark-blue: $dark-blue,
	darker-blue: $darker-blue,
	blue: $blue,

	color-text: $color-text,
	color-heading: $color-heading,
);

@mixin colour-modifiers($attribute: 'color', $prefix: '--') {
	@each $name, $hex in $colours {
		&#{$prefix}#{$name} {
			#{$attribute}: $hex;
		}
	}
}
