
/**
 * Colors
 * ============================================================ */
@import "colours";

/**
 * Animation
 * ============================================================ */

$bezier: cubic-bezier(.19,1,.22,1);



/**
 * Typography
 * ============================================================ */

$plex-sans: 'TT Norms Pro';
$heading: 'Brown';



/**
 * Media queries - breakpoints
 * ============================================================ */

$grid-breakpoints: (
	xs:	480px,
	sm:	768px,
	md:	992px,
	lg:	1200px,
	xl: 1400px
);

$grid-columns: 			12;
$grid-gutter-width: 2rem;

// Container widths
$container-widths: (
	sm: 75rem,
	md: 97rem,
	lg: 120rem
);


